<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SugarBox</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="row">
    <div class="col-md-12">
      <form>

        <fieldset>
          <label for="name">Enter Number:</label>
          <input type="text" id="num" name="num" [(ngModel)]="inputNum" (keypress)="reset()"> 

          <div  class="error">
            <div *ngIf="inputNum>100" >Please enter a number less than 100</div>
            <div *ngIf="0 >= inputNum">Please enter a number greater than 0</div>
          </div>
         
          <label *ngIf="result && inputNum">the result is : {{result}}</label>
        </fieldset>
        <button (click)="callFun(inputNum)" [disabled]=" inputNum>100 || 0 >= inputNum">Find me out</button>
      </form>
    </div>
  </div>

</body>

</html>